/* browseQuestions.less Mon, 21 Oct 2013 14:45:12 PST */
div.pagination {
    margin-bottom: 15px;
}

div.rssFeed {
    border-bottom: none;
    text-align: right;
}

.rssLink {
    float: right;
    line-height: 20px;
    position: relative;
}

.rssLink .rssText {
    position: relative;
    top: 1px;
}

.rssLink.searchRss {
    float: right;
    margin: 11px 0 10px;
}

img.rssButton {
    background-image: url("../pic/feed_icon.png");
    height: 14px;
    width: 14px;
    margin-right: 3px;
    position: relative;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5),(min--moz-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-ms-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 144dpi),(min-resolution: 1.5dppx) {
    img.rssButton {
        background-size: 14px 14px;
        background-image: url('../pic/feed_icon@2x.png');
    }
}

.proOnlyTopicFilter {
    background: transparent url("../pic/proOnlyLock.png") 95% 50% no-repeat;
    padding-right: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5),(min--moz-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-ms-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 144dpi),(min-resolution: 1.5dppx) {
    .proOnlyTopicFilter {
        background-size: 13px 13px;
        background-image: url('../pic/proOnlyLock@2x.png');
    }
}

.proOnlyTopicFilter.selected {
    background: transparent url("../pic/proOnlyLock.png") 95% 50% no-repeat;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5),(min--moz-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-ms-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 144dpi),(min-resolution: 1.5dppx) {
    .proOnlyTopicFilter.selected {
        background-size: 13px 13px;
        background-image: url('../pic/proOnlyLock@2x.png');
    }
}

.questionsIndexInfo {
    float: left;
    margin: 7px 5px 10px;
    font-weight: bold;
    font-size: 14px;
}

.clearSearch {
    font-size: 14px;
    position: relative;
    top: -5px;
}

.sortBy select {
    font-size: 12px;
}

.sortBy .separator {
    font-weight: bold;
    border-left: 1px solid #aaa;
}

div.browseListBody {
    clear: both;
    padding-top: 5px;
}

.rssLink + div.browseListBody {
    padding-top: 20px;
}

h2.askQuestionTitle.large-header {
    margin-top: 0;
    margin-bottom: 5px;
}

div.browseQuestionMessage {
    font-size: 14px;
    font-weight: bold;
    color: #d33;
    margin-top: 15px;
    margin-bottom: 20px;
}

.browseListBody .whiteCard {
    width: 100%;
}

div.questionLine a,div.pollEntry a {
    position: relative;
    z-index: 1;
}

div.questionLine .voteBtn,div.pollEntry .voteBtn {
    position: relative;
    z-index: 1;
}

div.questionLine a.dummyQL,div.pollEntry a.dummyQL {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

div.questionBody em {
    font-weight: bold;
}

div.questionPhoto {
    display: inline;
    float: left;
    width: 135px;
    height: 135px;
    overflow: hidden;
    position: relative;
}

div.questionDetails {
    overflow: hidden;
    padding: 10px 0 0 0;
}

div.questionDetails .question-meta-infos {
    padding: 0 10px;
    margin-bottom: 9px;
    border-bottom: 1px solid #d6d6d6;
}

div.questionDetails .question-meta-infos .question-authorship-strip {
    white-space: nowrap;
    margin-top: 4px;
    margin-bottom: 5px;
}

div.questionDetails .question-latest-activity {
    padding: 0 10px;
}

div.questionSeparator {
    clear: both;
    line-height: 1px;
}

div.questionUserImageDiv {
    width: 30px;
    height: 33px;
    margin-right: 8px;
    float: left;
}

div.questionDesc {
    float: left;
    margin-left: 7px;
    font-size: 14px;
}

.questionTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.questionTitle.normal-header {
    margin: 0;
    padding-bottom: 2px;
}

div.questionUserText {
    display: inline;
}

div.questionExcerpt {
    max-height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.searchQuestionExcerpt {
    margin-left: 0;
}

div.questionInfo {
    padding-bottom: 7px;
}

div.questionInfo span.pipe {
    margin: 0 7px;
    border-left: 1px solid #f0f0f0;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

div.questionInfo a {
    color: #666;
}

div.questionInfo a.colorLink {
    margin-right: 2px;
}

div.iconStripForQuestionDiv {
    display: inline;
}

div.questionCategory {
    font-size: 12px;
    display: inline;
}

.dropdown-wrapper {
    width: 220px;
}

#editQuestionTopicBox {
    margin: 0;
    line-height: 16px;
}

#editQuestionAddPhotoButtonBox {
    overflow: hidden;
    clear: both;
    width: 375px;
}

#editQuestionBtnDiv {
    margin-top: 10px;
    overflow: hidden;
}

div.editQuestionLine {
    display: block;
    width: 500px;
    font-size: 14px;
    margin-bottom: 10px;
}

div.editQuestionAddPhotoButton {
    width: 280px;
    height: 24px;
    overflow: hidden;
}

div.editQuestionCaption {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 100px;
    text-align: right;
    margin-top: 2px;
}

h4#welcome {
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    margin-top: 15px;
}

.afterExpandFileInputs:hover {
    text-decoration: none;
    cursor: default;
}

#editQuestionSubmitBtn {
    float: right;
}

#editQuestionTitle {
    height: 32px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 15px 0 24px 0;
    padding: 5px;
}

#editQuestionTitle + .counter {
    text-align: right;
    display: block;
    margin-top: -24px;
    padding-top: 3px;
    padding-bottom: 7px;
}

#editQuestionTitle + .counter.prewarning {
    color: #860f0f;
}

#editQuestionTitle + .counter.warning {
    color: #d62929;
}

#editQuestionTitle + .counter .countdown {
    font-weight: bold;
}

#editQuestionTitle + .counter.exceeded {
    color: #f50;
    font-weight: bold;
}

#editQuestionBody {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 80px;
    display: block;
    font-size: 14px;
    margin: 0 0 15px 0;
    padding: 5px;
}

.editQuestionSelect {
    width: 130px;
    font-size: 12px;
    display: inline;
    float: left;
    margin-right: 5px;
}

.editQuestionFileInput {
    width: 200px;
    font-size: 10px;
}

.editQuestionPollOptionInput {
    width: 120px;
    font-size: 12px;
    display: inline;
}

#addQuestionSubmit {
    margin: 0;
    border: 0;
}

#hzQuestionAskForm {
    background-color: #f0f0f0;
    border: 1px solid #e6e6e6;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    zoom: 1;
}

.extraEditQuestion {
    position: relative;
    top: 0;
    float: left;
}

.extraEditQuestion .addImageButton .label {
    padding-left: 3px;
}

.extraEditQuestion .editQuestionFormSection {
    clear: left;
}

.choiceLine input.optionInput {
    font-size: 12px;
}

.choiceLine .houseThumb {
    position: relative;
    display: none;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.houseThumb .removeThumb {
    display: none;
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
    background-image: url("../pic/closeDiag.png");
    width: 37px;
    height: 37px;
}

.houseThumb:hover .removeThumb {
    display: block;
}

.houseThumb img {
    width: 30px;
    height: 30px;
}

div#questionGuidelinesBody {
    background-color: #cbe290;
    padding: 5px 12px;
    line-height: 120%;
    border: 1px solid #8da15a;
    top: 0;
}

#questionsGuidelines ul {
    margin: 3px 0 3px 20px;
}

.pollContainer {
    margin-top: 10px;
}

input.voteBtn {
    display: block;
    clear: both;
    margin-top: 5px;
    margin-left: 0;
    padding-left: 3px;
    padding-right: 3px;
}

.editQuestionFormSection thead {
    font-size: 12px;
}

.editQuestionFormSection h2 {
    margin: 8px 0 4px 0;
}

.optionInput {
    margin: 4px 0;
    width: 250px;
    vertical-align: top;
}

.optionFileInput {
    width: 150px;
    font-size: 10px;
}

.optionLine {
    margin: 5px 0 0 0;
    overflow: hidden;
}

.optionThumb {
    float: left;
    width: 55px;
    overflow: hidden;
    margin-right: 20px;
}

.optionDetail {
    float: left;
    width: 289px;
}

.optionText {
    font-size: 12px;
    color: #555;
}

.optionVote {
    height: 40px;
    font-size: 11px;
    color: #888;
    margin-top: 5px;
}

.pollImg {
    cursor: pointer;
    margin-left: -10px;
    width: 75px;
    height: 55px;
}

.defaultPollImg {
    margin-left: -10px;
    width: 75px;
    height: 55px;
}

.placeholder {
    color: #ccccc8;
}

::-webkit-input-placeholder {
    color: #ccccc8;
}

.barGph {
    background: url("../pic/barGraph.gif") repeat-x;
    height: 15px;
}

.barGphBar {
    background: url("../pic/barGraphPercent.gif") repeat-x;
    height: 15px;
}

.qMetaComment,.qMetaVote,.qMetaLike,.qMetaBookmark {
    display: inline-block;
    *display: inline;
    zoom: 1;
    min-width: 50px;
}

.questionIcons {
    margin-right: 5px;
    background-image: url("../pic/buttons2Bg.png");
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 15px;
    height: 18px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5),(min--moz-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-ms-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 144dpi),(min-resolution: 1.5dppx) {
    .questionIcons {
        background-size: 330px 140px;
        background-image: url('../pic/buttons2Bg@2x.png');
    }
}

.questionIcons.iconSpeechBubble {
    background-position: -123px -81px;
}

.questionIcons.iconThumbUp {
    background-position: -160px -102px;
    width: 18px;
    height: 18px;
    margin-top: -2px;
}

.questionIcons.iconClock {
    background-position: -31px 0;
    width: 14px;
    height: 14px;
}

.questionIcons.iconVote {
    background-position: -220px -81px;
    width: 18px;
    height: 18px;
}

.questionIcons.iconBookmark {
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    background-position: -180px -101px;
}

.commentsModuleContainer {
    clear: both;
}

.commentsModuleContainer .feedComments {
    font-size: 12px;
    line-height: 18px;
}

.commentsModuleContainer .feedComments .addComment {
    margin-bottom: 0px;
}

.commentsModuleContainer .feedComments .commentsContainer > .comment .commentBodyContent {
    overflow: hidden;
    max-height: 108px;
}

.commentsModuleContainer .hzPeek.moreLink::before {
    background-color: rgba(242,242,242,-0.4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#fff2f2f2', GradientType=0);
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom,rgba(255,255,255,0),#f2f2f2);
}

.commentsModuleContainer .hzPeekLink {
    float: right;
    margin-right: 10px;
}

div.feedQuestion div.questionExcerpt {
    max-height: 36px;
}

div.feedQuestion div.questionInfo {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.feedQuestion.questionLine:hover,div.feedQuestion.pollEntry:hover {
    cursor: default;
}

div.feedQuestion .questionActions {
    padding-top: 6px;
    font-size: 10px;
    margin-left: 38px;
}

div.feedQuestion div.questionTitle {
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
}

div.feedQuestion .questionDetails {
    height: 115px;
}

div.feedQuestion .questionDetails .separator {
    margin: 0px 3px;
}

div.feedQuestion.searchQuestion .questionActions {
    margin-left: 0px;
}/* spacePreview.less Mon, 21 Oct 2013 14:45:29 PST */
div.houseThumbnail {
    float: left;
    position: relative;
    margin-right: 3px;
    margin-top: 3px;
}

div.houseThumbnail .removeThumb {
    display: none;
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
    background-image: url("../pic/closeDiag.png");
    width: 37px;
    height: 37px;
}

div.houseThumbnail:hover .removeThumb {
    display: block;
}