<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
          http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">


	<tx:annotation-driven />

	<mvc:view-controller path="/" view-name="index"/>

	<!-- Root Context: defines shared resources visible to all other web components -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.homeninja.entities.*" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">none</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>

		<property name="annotatedClasses">
			<list>
				<value>com.homeninja.entities.SiteUsers</value>

				<value>com.homeninja.entities.Address</value>
				<value>com.homeninja.entities.MasterDataValue</value>

				<value>com.homeninja.entities.ContactUs</value>
				<value>com.homeninja.entities.ContactPurpose</value>

				<value>com.homeninja.entities.AdvanceSetting</value>
				<value>com.homeninja.entities.AdvanceSettingUserMap</value>

				<value>com.homeninja.entities.UsersSearch</value>
				<value>com.homeninja.entities.UserType</value>

				<value>com.homeninja.entities.JobCategory</value>
				<value>com.homeninja.entities.JobSubCategory</value>
				<value>com.homeninja.entities.UserJobCategoryMap</value>
				<value>com.homeninja.entities.UserJobSubCategoryMap</value>


			</list>
		</property>

	</bean>

	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3307/jobportal" />
		<property name="username" value="root" />
		<property name="password" value="admin" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<!-- <bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" 
		/> -->



</beans>
